
    <div class="toppage">
        <%= image_tag 'toppage1.jpg', class: 'cup' %>
    
        <div class="topword">

            <div class="title">
                CoffeeJourney
            </div>
            
            好みのコーヒーで素敵なひとときを
        
        </div>
        
        <div class="slide-container">
            <div class="slide-wrapper">
                <img class="slide" src="/assets/beanspackage.jpg" alt="beanspackage.jpg">
                <img class="slide" src="/assets/dripcoffee.jpg" alt="dripcoffee.jpg">
                <img class="slide" src="/assets/organiccafe.jpg" alt="organiccafe.jpg">
                <img class="slide" src="/assets/holder.jpg" alt="holder.jpg">
                <img class="slide" src="/assets/light.jpg" alt="light.jpg">
            </div>
            <div class="slide-wrapper">
                <img class="slide" src="/assets/beanspackage.jpg" alt="beanspackage.jpg">
                <img class="slide" src="/assets/dripcoffee.jpg" alt="dripcoffee.jpg">
                <img class="slide" src="/assets/organiccafe.jpg" alt="organiccafe.jpg">
                <img class="slide" src="/assets/holder.jpg" alt="holder.jpg">
                <img class="slide" src="/assets/light.jpg" alt="light.jpg">
            
            </div>
            <div class="slide-wrapper">
                <img class="slide" src="/assets/beanspackage.jpg" alt="beanspackage.jpg">
                <img class="slide" src="/assets/dripcoffee.jpg" alt="dripcoffee.jpg">
                <img class="slide" src="/assets/organiccafe.jpg" alt="organiccafe.jpg">
                <img class="slide" src="/assets/holder.jpg" alt="holder.jpg">
                <img class="slide" src="/assets/light.jpg" alt="light.jpg">
            </div>
        </div>


        <div class="coffee-container">
            <h2>コーヒー診断</h2>
            <p>すきなフレーバーをみつけて休憩時間を有意義にすごそう</p>
            <a href="/perfumes/questiontop" class="btn03 pushdown"><span>コーヒー診断START</span></a>
        </div>

        <div class="coffee-container">
            <h2>おすすめのコーヒー</h2>
            <a href="/beans" class="btn03 pushdown"><span>商品紹介へ</span></a>
            <%= link_to "商品紹介へ", beans_path, class: "link" %>
        </div>
    </div>

