
<h1>自分好みのコーヒーをみつけよう！</h1>

<h2>コーヒー診断</h2>
<a href="perfumes/question1" class="btn03 pushdown"><span>コーヒー診断START</span></a>
#<%= link_to "コーヒー診断をはじめる", perfumes_question1_path, class: "link" %>

<h2>おすすめのコーヒー</h2>
<%= link_to "商品一覧へ", beans_path %>
