<div class=questionbox>
    <h1>Q2</h1>
    <%= image_tag 'perfume1.png', class: 'perfumeimages' %>
    <h2>どっちがすき？</h2>
    <a href="/perfumes/question3_3" class="btn03 pushdown"><span>フルーツ</span></a>
    <a href="/perfumes/question3_4" class="btn03 pushdown"><span>ナッツ</span></a>
</div>