<div class=questionbox>
    <h1>Q1</h1>
    <%= image_tag 'perfume1.png', class: 'perfumeimages' %>
    <h2>仕事の休憩中はどっちがいい？</h2>
    <a href="/perfumes/question2_1" class="btn03 pushdown"><span>目が覚める濃い一杯</span></a>
    <a href="/perfumes/question2_2" class="btn03 pushdown"><span>リフレッシュできるさわやかな一杯</span></a>
</div>