<div class=questionbox>
    <h1>Q3</h1>
    <%= image_tag 'perfume1.png', class: 'perfumeimages' %>
    <h2>どっちがいい？</h2>
    <a href="/perfumes/show5" class="btn03 pushdown"><span>朝ゆっくりコーヒー堪能したい！</span></a>
    <a href="/perfumes/show6" class="btn03 pushdown"><span>おやつの時間に甘いものと一緒にたのしみたい！</span></a>
</div>