<p><%= link_to "診断をはじめる", perfumes_question1_path %></p>
<div class=questionbox>
    <h1>Q</h1>
    <%= image_tag 'perfumetitle.jpg', class: 'perfumeimages' %>
    
    <p href="/perfumes/question1" class="btn03 pushdown"><span>コーヒー診断を始めよう！</span></p>
</div>